{% load custom_filters %}
<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Bill Details</title>
</head>
<body>
    <h1>Bill Details</h1>
    <h2>Bill ID: {{ bill.bill_id }}</h2>
    <p>Bill Date: {{ bill.bill_date }}</p>
    <p>Total Amount: {{ bill_total }}</p>

    <h2>Products:</h2>
    <table border="1">
        <thead>
            <tr>
                <th>Product Label</th>
                <th>Quantity</th>
                <th>Unit Price</th>
                <th>Total Price</th>
                <th>Price per Person</th>
            </tr>
        </thead>
        <tbody>
            {% for product in products %}
            <tr>
                <td>{{ product.product_label }}</td>
                <td>{{ product.product_quantity }}</td>
                <td>{{ product.product_price_per_unit }}</td>
                <td>{{ product.product_total_price }}</td>
                <td>{{ product_price_per_participant|get_item:product.product_id }}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>

    <h2>Participants:</h2>
    <table border="1">
        <thead>
            <tr>
                <th>Participant Name</th>
                {% for product in products %}
                <th>{{ product.product_label }}</th>
                {% endfor %}
            </tr>
        </thead>
        <tbody>
            {% for participant in participants %}
            <tr>
                <td>{{ participant.participant_name }}</td>
                {% for product in products %}
                <td>
                    <input type="checkbox" name="participant{{ participant.participant_id }}_product{{ product.product_id }}" {% if participant_product_contribution.participant.participant_id.product.product_id %}checked{% endif %} onchange="updateContribution({{ participant.participant_id }}, {{ product.product_id }}, this.checked)">
                </td>
                {% endfor %}
            </tr>
            {% endfor %}
        </tbody>
    </table>

    <script>
        function updateContribution(participantId, productId, isChecked) {
            // Ajoutez votre logique JavaScript pour mettre à jour la contribution du participant
            // Vous pouvez appeler une API backend pour mettre à jour la valeur dans la base de données
        }
    </script>
</body>
</html>
